{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "env": {
    // enable all ECMAScript 6 features except for modules
    // (this automatically sets the ecmaVersion parser option to 6).
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  }
}
