{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",
  "rules": {
    # We use _ to define private variables and methods in clases
    "no-underscore-dangle": 0,
    # This seems to be buggy we don't want eslint to check this
    "import/no-extraneous-dependencies": 0,
    # This is a depricated rule. So we turned off it.
    "react/require-extension": 0,
    # We can write JSX in anyfile we want.
    "react/jsx-filename-extension": 0,
    # We don't like this rule.
    "arrow-body-style": 0,
    # We don't like this rule. We write arrow functions only when we needed.
    "prefer-arrow-callback": 0,
    # We don't need to write function names always.
    "func-names": 0,
    # propTypes can be object
    "react/forbid-prop-types": 0,
    # These come after upgrade of airbnb eslint config and @babel-parser
    # Ideally we should figure out which following rules we want to keep
    # and fix the code accordingly, but to keep changes in this PR and let
    # library's author decide where they want to go, i am setting them to false
    "max-len": 0,
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "react/no-unused-state": 0,
    "react/sort-comp": 0,
    "react/button-has-type": 0,
    "react/no-access-state-in-setstate": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
  },
}
