body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(0, 0%, 32%, 1);
  color: white;
  padding: 50px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lottie-container {
  background: #444;
  border-radius: 10px;  
  box-shadow: 0 0 14px 1px #444;
  overflow: hidden;
  position: relative;
  transition: background-color .3s linear;
}

.lottie-container.basic {
  background: hsl(178, 34%, 10%);
  transition: background-color .3s;
  animation: hue 3s infinite;
}

.lottie-container.basic:hover {
  background: hsl(178, 34%, 63%);
}

@keyframes hue{
  0% {
    filter: hue-rotate(0);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.lottie-container.basic {
  background: hsl(178, 34%, 13%);
}

.lottie-container.hoverable::before {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  content: '';
  transition: box-shadow .3s linear;
  box-shadow: none;
}

.lottie-container.hoverable:hover::before{
  animation: strobe 1.3s infinite;
}

@keyframes strobe {
  0%, 33%, 41%, 90%, 100%{
    box-shadow: none;
  }
  50%, 10%, 35% {
    box-shadow:inset 0 0 175px 175px rgba(0, 255, 255, 0.1);
  }
  80%, 92%{
    box-shadow:inset 0 0 175px 175px rgba(255, 255, 255, 0.05);
  }
}